/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
			.download{
			background-color: #ebebeb;
			display: inline-block;
			padding: 0 25px;
			font-size: 16px;
			font-weight: 600;
			border-radius: 5px;
			box-shadow: 0px 0px 10px -3px gray;
			position: relative;
			z-index: 200;
		}
		.trusted li {
		    list-style: none;
		    display: inline-block;
		    margin: 10px 15px;
		    width: 20%;
		}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
		.logo_header {
		    z-index: 10;
		    position: relative;
		    top: -20px;
		    display: inline-block;
		    margin: 0px 15%;
		}
		h1 {
		font-size: 30px;
		}
		h2{
			font-size: 20px;
		}
		p{
			font-size: 14px;
		}
		.list_content .left,.list_content .right{
				width: 100%;
				float: none;
		}
		.download{
			background-color: #ebebeb;
			display: inline-block;
			padding: 0 25px;
			font-size: 16px;
			font-weight: 600;
			border-radius: 5px;
			box-shadow: 0px 0px 10px -3px gray;
			position: relative;
			z-index: 200;
			top:0;
		}
		.list_content ul li {
			width: 100%;
		}
		.trusted ul li{
			list-style: none;
			display: inline-block;
			margin: 10px 15px;
			text-align: center;
			width: 38%
		}
		section.gray_bg h2 {
   			 font-size: 24px;
		    font-weight: 400;
		    text-align: center;

		}
		.item_steps h3 {
			width: 100%;
			text-align: center;
		}
		.item_steps img {
		    float: none;
		    position: relative;
		    margin: 0% 42% 5%;
		}
		.item_steps p{
			width: 100%;
		}
			
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}